span {
    color: orange;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;

}

.gap {
    margin-bottom: 15%;
}

.button {

    background-image: linear-gradient(orange, tomato);
    text-decoration: none;


    padding: 10px 40px;
    border-radius: 10px;


    color: white;
}

.flex-container {
    display: flex;
    margin-bottom: 100px;

}

.half-width {
    width: 50%;
    padding: 10px;
}

.half-width img {
    width: 80%;
}

.half-width-b {
    width: 50%;
    padding: 10px;
}

.half-width-b img {
    width: 50%;
}

#im {
    padding-left: 150px;
}

.banner {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}

#allign {
    text-align: center;
}

.shadow {
    width: 40%;
    margin-left: 5%;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 40px rgb(141, 133, 133);

}